[submodule "tactilebrowser_core/elk"]
	path = tactilebrowser_core/elk
	url = https://github.com/cesanta/elk.git
[submodule "tactilebrowser_core/lvgl"]
	path = tactilebrowser_core/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "tactilebrowser_core/lexbor"]
	path = tactilebrowser_core/lexbor
	url = https://github.com/NellowTCS/lexbor.git
