[submodule "elk-desktop"]
	path = desktop-src/main/elk
	url = https://github.com/cesanta/elk.git

[submodule "lvgl-desktop"]
	path = desktop-src/main/lvgl
	url = https://github.com/lvgl/lvgl.git

[submodule "lexbor-desktop"]
	path = desktop-src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
[submodule "tactility-src/main/elk"]
	path = tactility-src/main/elk
	url = https://github.com/cesanta/elk.git
[submodule "tactility-src/main/lexbor"]
	path = tactility-src/main/lexbor
	url = https://github.com/lexbor/lexbor.git
[submodule "pocketmage-src/lib/lexbor"]
	path = pocketmage-src/lib/lexbor
	url = https://github.com/lexbor/lexbor.git
